<div class="content">
    <h1 class="hero-title">
            Wedding Organizer Organization Profile
        </h1>
    <div class="section">
        
        <img src="images/Wedding Organizer Fishbone Diagram.png" class="responsive-img"
            alt="Wedding Organizer Fishbone Diagram">

        <h2 class="section-title">
            Wedding Organizer Fishbone Diagram
        </h2>

        <p class="section-text">
            This diagram shows the root causes and problem analysis for the wedding organizer process
            using the fishbone (Ishikawa) technique.
        </p>

    </div>


    <div class="section">

        <img src="images/S__1228820.jpg" class="responsive-img" alt="Wedding Organizer ICT Diagram">

        <h2 class="section-title">
            Wedding Organizer ICT Diagram
        </h2>

        <p class="section-text">
            This diagram explains the ICT structure used in managing a wedding organizer system,
            including planning, communication, coordination, and service management.
        </p>

    </div>

</div>