<div class="content">

  <img
    src="images/IT 3.png"
    alt="Main Wedding Planner IT Image"
    class="hero-img">

  <h1 class="hero-title">
    We Are The Wedding Planners in IT.
  </h1>

  <div class="section">

    <img
      src="images/Teaching photography.png"
      class="responsive-img"
      alt="Photography Training">

    <h2 class="section-title">
      เรียนรู้การถ่ายภาพอย่างมืออาชีพ
    </h2>

    <p class="section-text">
      เข้าใจการใช้งานกล้อง มุมมอง แสง และการจัดองค์ประกอบภาพ
      เหมาะสำหรับผู้เริ่มต้น
    </p>

    <p class="section-text">
      <strong>วัตถุประสงค์ของการอบรม</strong><br>
      เพื่อให้ผู้เข้าร่วมการอบรมมีความรู้และทักษะพื้นฐาน
      และสามารถนำไปประยุกต์ใช้ได้จริง
    </p>

<h2 class="section-title">
  <a href="https://forms.gle/Xip2gWHC9ei3tkog6" 
     target="_blank" 
     rel="noopener noreferrer">
    ลงทะเบียน
  </a>
</h2>

    <div class="event-info">
      วันพุธที่ 11 มีนาคม พ.ศ. 2569<br>
      เวลา 16:00–19:00 น.<br>
      ตึก SC9-406
    </div>

    


  </div>
</div>
